<header class="forum-navbar">
    <div class="forum-header-content">
        <div class="forum-brand">
            <img src="{{ url_for('static', filename='resources/BDF.png') }}" alt="BDCOM Logo" class="forum-logo">
            <a href="/" class="forum-title">BDCOM Devs Forum</a>
        </div>
        <nav class="forum-nav" id="navMenu">
            <a href="/">Home</a>
            <a href="/create">Create</a>
            <!-- Future: <a href="/login">Login</a> -->
        </nav>
        <div class="hamburger" id="hamburger">
            &#9776;
        </div>
    </div>
</header>